#sloganpg{
	display: inline-block;
	padding-right: 5%;
	width: 50%;
	height: 340px;
	padding-top: 2%;
}

header{
	background: #BBBBBB;
	padding: 30px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 170px;
	right: 0;
}

nav li{
	display: inline-block;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}


.itens{
	width: 940px;
	margin: 0 auto;
	padding: 60px 0;
}

.itens li{
	display: inline-block;
	text-align: center;
	width: 40%;
	vertical-align: top;
	margin: 0 0 3.5% 4.5%;
	padding: 50px 20px;
	box-sizing: border-box;
	border:2px #000000 solid;
	border-radius: 10px;
}

.itens li:hover{
	border-color: #C78C19; 
}

.itens li:active{
	border-color: #088C19;
}

.itens li:hover h2{
	font-size: 35px;
}

.itens h2{
	font-size: 30px;
	font-weight: bold;

}

.itens-descricao{
	font-size: 18px;
}

.itens-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: url(logopreto.jpg);
	padding: 40px 0;	
}

.Copyright{
	color: #FFFFFF;
	font-size: 13px;
}

@media screen and (max-width: 480px) {
	.caixa, .itens {
		width: auto;
	}
		h2 {
		text-align: center;
	}

	nav {
		position: static;
	}
}
